<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection properties - Driver, URL, user, password -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/test_navis?currentSchema=insight</property>
		<!-- Connection Pool Size -->
		<property name="hibernate.connection.pool_size">1</property>
		
		<!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
		<property name="hibernate.current_session_context_class">thread</property>
		
		<!-- Disable the second-level cache -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>
		<!-- Outputs the SQL queries, should be disabled in Production -->
		<property name="hibernate.show_sql">true</property>
		
		<!-- Dialect is required to let Hibernate know the Database Type, MySQL, Oracle etc
			Hibernate 4 automatically figure out Dialect from Database Connection Metadata -->
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <mapping class="com.navis.insightserver.entity.I18NStringEntity"/>
		<mapping class="com.navis.insightserver.entity.TranslationEntity"/>
		<mapping class="com.navis.insightserver.entity.TagEntity"/>
        <mapping class="com.navis.insightserver.entity.SurveyEntity"/>
        <mapping class="com.navis.insightserver.entity.ReportFrequencyTypeEntity"/>
        <mapping class="com.navis.insightserver.entity.ReportSendsEntity"/>
        <mapping class="com.navis.insightserver.entity.ReportTypeEntity"/>
        <mapping class="com.navis.insightserver.entity.SurveyReportRecipientsEntity"/>
        <mapping class="com.navis.insightserver.entity.SurveyRequestEntity"/>
        <mapping class="com.navis.insightserver.entity.SurveyReportSchedulerEntity"/>
        <mapping class="com.navis.insightserver.entity.TagTagEntity"/>
        <mapping class="com.navis.insightserver.entity.SurveyTagEntity"/>

        <!-- mapping file, we can use Bean annotations too
        <mapping resource="reachEventTypes.hbm.xml" /> -->

		<!-- Mapping with model class containing annotations -->
		<!--<mapping class="com.navis.insightserver.entity.ReachEventTypesEntity"/>-->



	</session-factory>
</hibernate-configuration>
